/* styles file  */
/* google font import  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables  */
:root {
    --primary-color: #4CAF50;
    --secondary-color: #ff9800;
    --background-color: #f4f4f4;
    --margin-spacing: 0rem 3rem;
    --margin-spacing-medium: 0rem 2rem;
    --text-color: #333;
    --font-family: 'Poppins', sans-serif, 'Open Sans', 'Roboto', 'Inter', 'Work Sans';
    --heading-font-family: 'Merriweather', serif, 'Noto Serif', serif, 'Lobster', cursive;
    --border-radius: 5px;
    --transition-duration: 0.3s;
}

/* navigation bar container styles  */
header{
    margin: var(--margin-spacing);
    padding: 1rem 0;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: var(--font-family);
}

.logo img{
    height: 50px;
    width: 100%;
    border: none;
}

.logo{
    border: none;
}

.cart{
    display: inline-block;
    align-items: center;
    color: var(--text-color);
    gap: 0.5rem;
    font-size: 1.2rem;
}

.cart a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color var(--transition-duration);
}

.cart a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: color var(--transition-duration);
}

.nav-links li a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}

.dropdown{
    border: none;
}

.dropdown-content {
    position: relative;
    display: none;
}

/* banner container styles here  */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    gap: 1rem;
}

.banner-title{
    font-family: var(--heading-font-family);
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.fresh-text{
    color: var(--primary-color);
}  

.flowers-text{
    color: var(--secondary-color);
}

.banner-description{
    font-family: var(--font-family);
    color: var(--text-color);
}

/* Our Plants container styles here  */
main{
    margin: var(--margin-spacing);
}
.our-plants-container{
    margin: 4rem var(--margin-spacing);
    text-align: center;
}

.our-plants-description{
    font-family: var(--font-family);
    color: var(--text-color);
    margin-top: 1rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.our-text{
    color: var(--primary-color);
}

.our-plants-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 2rem var(--margin-spacing);
}

.plant-item{
    border-radius: var(--border-radius);
    padding: 0.5rem;
    text-align: center;
    transition: transform var(--transition-duration), box-shadow var(--transition-duration);
}

.plant-item img{
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    margin-bottom: 0.2rem;
}

.plant-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plant-btn{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 1rem;
    transition: background-color var(--transition-duration);
    margin-top: 0.5rem;
}

.plant-btn:hover{
    background-color: #45a049;
}

/* Flower-Plants Lovers container  */

.flower-plants-lovers-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 4rem ;
    gap: 2rem;
}

.flower-plants-lovers-content{
    padding-left: 2rem;
    padding-top: 4rem;
}

.flower-plants-lovers-btn{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 1rem;
    transition: background-color var(--transition-duration);
    margin-top: 0.5rem;
}

.flower-plants-lovers-btn:hover{
    background-color: #e68a00;  
}
.flower-plants-lovers-image img{
    width: 400px;
    height: auto;
    border-radius: var(--border-radius);
}

/* .flower-plants-lovers-image{
    
} */

.trusted-badge{
    position: relative;
    top: 100%;
    bottom: -100%;
    left: 0%;
    right: 40%;
    text-align: right;
}

.trusted-badge img{
    height: 100px;
    width: auto;
    position: relative;
    top: 50px;
    right: -20px;
    border-radius: var(--border-radius);
}

/* Latest  Deals container styles here  */
.latest-deals-container{
    margin: 4rem var(--margin-spacing);
    text-align: center;
}

.latest-deals-description{
    font-family: var(--font-family);
    color: var(--text-color);
    margin-top: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.latest-text{
    color: var(--primary-color);
}
.latest-deals{
    display: grid;
    grid-template-areas: 
        "dealBloom dealZabo dealZabo"
        "dealAna dealZabo dealZabo"
    ;
    gap: 1rem;
    margin-top: 4rem;
}

.deals-info{
    padding: 50px;
}

.deals-info-zaba{
    padding: 150px;
}
.latest-deals-item1{
    background-image: url('../assets/deal-bloom.png');
    background-repeat: no-repeat;
    border-radius: var(--border-radius); 
    color: white;
    grid-area: dealBloom;
    width: auto;
    height: 200px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/deal-bloom.png');
}
.latest-deals-item2{
    background-image: url('../assets/deal-ana.png');
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
    grid-area: dealAna;
    color: white;
    height: 200px;
    width: auto;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/deal-ana.png');
}
.latest-deals-item3{
    background-image: url('../assets/deal-zabo.png');
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
    color: white;
    grid-area: dealZabo;
    height: auto;
    width: auto;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/deal-zabo.png');
}

.deals-item-btn{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 1rem;
    transition: background-color var(--transition-duration);
    margin-top: 0.5rem;
}

.deals-item-btn:hover{
    background-color: #45a049;  
}

/* join the bunch container styles here   */

.join-the-bunch-container{
    background-image: url('../assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3rem 0rem;
}
.join-bunch-content{
    width: 50%;
    height: 300px;
    margin: auto;
    color: white;
    text-align: center;
    padding-top: 5rem;
}

.join-bunch-title{
    font-family: var(--heading-font-family);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.email-input{
    padding: 0.7rem;
    width: 60%;
    border: none;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    font-size: 1rem;
}

.email-input:focus{
    outline: none;
}

.join-bunch-btn{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 1rem;
    transition: background-color var(--transition-duration);
}

.join-bunch-btn:hover{
    background-color: #e68a00;  
}

/* footer container styles here   */
.footer-container{
    margin: var(--margin-spacing);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2rem;
}

.footer-logo-content{
    width: 20%;
}

.footer-taps-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.footer-taps-content a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    transition: color var(--transition-duration);

}

.footer-taps-content a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}   

.footer-sub-taps-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.footer-sub-taps-content a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    transition: color var(--transition-duration);
}

.footer-sub-taps-content a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}


.social-media-icons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}


/* Responsive styles  */

/* responsive for smaller devices   */
@media (max-width: 576px){
    /* navigation bar container styles   */
    header{
        margin: 0rem 1rem;
        padding: 1rem 0;
   }
    .navbar-content{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .nav-links{
        display: none;
    }
    /* dropdown logo image  */
    .drop-btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropdown {
    position: relative;
    }

.dropdown-content {
  display: none;
  position: absolute;   
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .drop-btn {
  background-color: #3e8e41;
}
    /* banner container styles here  */
    .banner-container{
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 2rem;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-image img{
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }
    /* our plants container styles here   */
    .our-plants-container{
        margin: 4rem 1rem;
    }
    .our-plants-description{
        width: 100%;
    }   
    .our-plants-items{
        grid-template-columns: repeat(1, 1fr);
    }
    /* Flower-Plants Lovers container  */
    .flower-plants-lovers-container{
        flex-direction: column;
        margin: 4rem 1rem;
    }
    .flower-plants-lovers-image img{
        width: 100vw;
        height: auto;
        margin-top: 2rem;
        text-align: left;
    }

    .flower-plants-lovers-content{
        padding: 0;
    }
    .trusted-badge{
        display: none;
    }
    /* Latest  Deals container styles here  */
    .latest-deals-container{
        margin: 4rem 1rem;
    }

    .latest-deals-content{
        padding: 0;
    }
    .latest-deals-description{
        width: 100%;
    }
    .latest-deals{
        grid-template-areas: 
            "dealBloom"
            "dealAna"
            "dealZabo"
        ;
        margin: auto;
    }
    .latest-deals-item1{
        height: auto;
        width: 90vw;
    }
    .latest-deals-item2{
        height: auto;
        width: 90vw;
    }
    .latest-deals-item3{
        height: auto;
        width: 90vw;
    }
    .deals-info-zaba{
    padding: 50px;
}

/* join the bunch container styles here    */
.join-bunch-content{
    width: 100%;
}
/* footer container styles here    */
.footer-container{
    flex-direction: column;
}
.footer-logo-content{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;

}
.footer-taps-content, .footer-sub-taps-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
}

/* responsive for medium devices  */
@media (min-width: 577px) and (max-width: 768px){
    header{
        margin: var(--margin-spacing-medium);
        padding: 1rem 0;
    }
    .banner-container{
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 2rem;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-image img{
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    /* our plant container styles here */
    .our-plants-container{
        margin: 4rem var(--margin-spacing-medium);
    }   
    .our-plants-description{
        width: 100%;
    }
    .our-plants-items{
        grid-template-columns: repeat(2, 1fr);
    }

    /* flower plants lovers container  */
    .flower-plants-lovers-container{
        flex-direction: column;
        margin: 4rem var(--margin-spacing-medium);
    }
     .latest-deals{
        grid-template-areas: 
            "dealBloom"
            "dealAna"
            "dealZabo"
        ;
        margin: auto;
    }
    .latest-deals-item1{
        height: auto;
        width: 90vw;
    }
    .latest-deals-item2{
        height: auto;
        width: 90vw;
    }
    .latest-deals-item3{
        height: auto;
        width: 90vw;
    }
    .deals-info-zaba{
    padding: 50px;
}
}