/* styles file  */
/* google font import  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables  */
:root {
    --primary-color: #4CAF50;
    --secondary-color: #ff9800;
    --background-color: #f4f4f4;
    --margin-spacing: 0rem 3rem;
    --margin-spacing-medium: 0rem 2rem;
    --text-color: #333;
    --font-family: 'Poppins', sans-serif, 'Open Sans', 'Roboto', 'Inter', 'Work Sans';
    --heading-font-family: 'Merriweather', serif, 'Noto Serif', serif, 'Lobster', cursive;
    --border-radius: 5px;
    --transition-duration: 0.3s;
}

/* navigation bar container styles  */
header{
    margin: var(--margin-spacing);
    padding: 1rem 0;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: var(--font-family);
}

.logo img{
    height: 50px;
    width: 100%;
}

.cart{
    display: inline-block;
    align-items: center;
    color: var(--text-color);
    gap: 0.5rem;
    font-size: 1.2rem;
}

.cart a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color var(--transition-duration);
}

.cart a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: color var(--transition-duration);
}

.nav-links li a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}


/* Responsive styles  */

/* responsive for smaller devices   */
@media (max-width: 576px){
    header{
        margin: 0rem 1rem;
        padding: 1rem 0;
    }
    .navbar-container{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .navbar-content{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .nav-links{
        flex-wrap: wrap;
        gap: 1rem;
    }
}

/* responsive for medium devices  */
@media (min-width: 577px) and (max-width: 768px){
    header{
        margin: var(--margin-spacing-medium);
        padding: 1rem 0;
    }
}